image: docker:latest

services:
  - docker:dind

stages:
  - build
  - test
  - release

before_script:
  - docker -v
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com

build_master:
  stage: build
  only:
    - master
  script:
    - docker build -t registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-test .
    - docker push registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-test

build_dev:
  stage: build
  only:
    - dev_version
  script:
    - docker build -t registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-test .
    - docker push -t registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-test

test_master:
  stage: test
  only:
    - master
  script:
    - docker pull registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-test 
    - docker run registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-test /root/blank_test.sh
      
test_dev:
  stage: test
  only:
    - dev_versoin 
  script:
    - docker pull registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-test 
    - docker run registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-test /root/blank_test.sh
