image: docker:latest

services:
  - docker:dind

stages:
- build

before_script:
  - docker -v

build:
  stage: build
  script:
    - docker build -t registry.gitlab.com/Sraleik/docker_ubuntu:16.04-blank .