image: docker:latest

variables:
  DOCKER_DRIVER: overlay

services:
  - docker:dind

stages:
  - build
  - test
  - release

before_script:
  - docker -v
  - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com

build_simple:
  stage: build
  only:
    - master
    - simple_test
  script:
    - docker build -t registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-test .
    - docker push registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-test

build_dev:
  stage: build
  only:
    - dev_version
    - dev_test
  script:
    - docker build -t registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-test .
    - docker push -t registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-test

test_simple:
  stage: test
  only:
    - master
    - simple_test
  script:
    - docker pull registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-test 
    - docker run registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-test /root/blank_test.sh
      
test_dev:
  stage: test
  only:
    - dev_version 
    - dev_test
  script:
    - docker pull registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-test 
    - docker run registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-test /root/blank_test.sh

release_simple:
  stage: release
  only:
    - master
  script:
    - docker pull registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-test 
    - docker tag registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-test   registry.gitlab.com/sraleik/docker_ubuntu:16.04-simple-latest
    - docker push -t registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-latest
    
release_dev:
  stage: release
  only:
    - dev_version 
  script:
    - docker pull registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-test 
    - docker tag registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-test   registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-latest
    - docker push -t registry.gitlab.com/sraleik/docker_ubuntu:16.04-dev-latest
    
